<!doctype html>
<html>
  <head>
    <title>Centilio Device Management Service</title>
  </head>
  <body>
    <header><img src="/img/logo.png" alt="Centilio Logo"></header>
    {{{body}}}
  </body>
</html>
